<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaO-f7KvKHNN_VQxMCQdJWQCVvS9aHhe0</string>
	<key>GCM_SENDER_ID</key>
	<string>382727535083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vigitracklatam.propietario</string>
	<key>PROJECT_ID</key>
	<string>smart7bus</string>
	<key>STORAGE_BUCKET</key>
	<string>smart7bus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382727535083:ios:9eeee985cb7f1caa8541ae</string>
	<key>DATABASE_URL</key>
	<string>https://smart7bus-default-rtdb.firebaseio.com</string>
</dict>
</plist>